.content-wrap{
margin-left:12%;
color:rgb(30, 35, 41);
}

.balance-box{
padding:30px;
margin-top: 24px;
box-shadow: rgba(11, 14, 17, 0.08) 0px 2px 4px;
border-radius: 4px;
box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
background-color: rgb(255, 255, 255);
flex-direction: column;
width:95%;
margin-left:auto;
margin-right:auto;
margin-top:30px;
}
.balance-box .name{
    box-sizing: border-box;
margin: 0px;
min-width: 0px;
display: flex;
-moz-box-align: center;
align-items: center;
box-sizing: border-box;
margin: 0px;
min-width: 0px;
font-size: 14px;
color: rgb(112, 122, 138);
}
.balance-box .amount{
    box-sizing: border-box;
    margin: 12px 0px 0px;
    min-width: 0px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.balance-box .amount .main{
    box-sizing: border-box;
margin: 0px 4px -1px 0px;
    margin-bottom: 0px;
min-width: 0px;
font-size: 32px;
color: rgb(30, 35, 41);
line-height: 100%;

}
.balance-box .amount .crypt{
    box-sizing: border-box;
margin: 0px;
min-width: 0px;
font-size: 14px;
}
.balance-box .amount .equiv{
    box-sizing: border-box;
margin: 0px 0px 0px 4px;
min-width: 0px;
color: rgb(112, 122, 138);
font-size:14px;
}

.other{
    width:95%;
    margin:auto;
    border-radius: 4px;
box-sizing: border-box;
margin: auto;
margin-top:50px;
}
.extra-box .row:nth-of-type(1){


    padding-right:80px;
}

.extra-box .row:nth-of-type(2){
padding-left:30px;
border-left:0.5px solid rgb(0,0,0,0.07);
box-sizing: border-box;
margin: 0px;
min-width: 0px;
font-size: 12px;
color: rgb(112, 122, 138);
line-height: 20px;
}

.extra-box{
    margin-top: 24px;

    border-radius: 4px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    }
    .extra-box .name{
        box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    color: rgb(112, 122, 138);
    }
    .extra-box .amount{
        box-sizing: border-box;
        margin: 12px 0px 0px;
        min-width: 0px;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .extra-box .amount .main{
        box-sizing: border-box;
    margin: 0px 4px -1px 0px;
        margin-bottom: 0px;
    min-width: 0px;
    font-size: 22px;
    color: rgb(30, 35, 41);
    line-height: 100%;
    
    }
.other{
    width:95%;
    padding:30px;
    background-color:white;
}

.popup{
    z-index:1000;
    background-color:rgb(0,0,0,0.8);
    position:fixed;
    top:0;
    width:100vw;
    height:100vh;
}
.popup .box{
    width:50vw;
    height: 60vh;
    margin:auto;
    margin-top:10%;
    background-color:white;
    border-radius:4px;
    position: relative;
    padding:1px;
}
.popup .box .close-btn{
    position: absolute;
    margin-right:10px;
    margin-top:10px;
    right:10px;
    top:10px;
    color:rgb(112, 122, 138);
    font-size:20px;
    cursor :pointer;
    

}
.popup .box .title{
 
    box-sizing: border-box;
    margin: 8px 0px 0px;
    min-width: 0px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-top:30px;
    margin-left:30px;

}
.popup .box .feint{
    box-sizing: border-box;
margin: 8px 0px 0px;
    margin-top: 8px;
min-width: 0px;
font-weight: 400;
line-height: 20px;
color: rgb(112, 122, 138);
font-size: 13px;
margin-top: 16px;
margin-left:30px;

}

.popup .option{

    width:40%;
    border:0.5px solid rgb(112, 122, 138,0.1);
    padding:24px;
    border-radius:5px;
    margin-left:20px;
    margin-top:20px;
    display: flex;
}
.popup .option:hover{
    background-color: rgb(112, 122, 138,0.01);
    cursor:pointer;
}
.popup .option .feint{
    margin:0;
    margin-top:10px;
    box-sizing: border-box;
margin: 16px 0px 0px;
min-width: 0px;
font-size: 12px;
color: rgb(112, 122, 138);
line-height: 16px;
height: auto;
    
}
.popup .option img{
    max-height:100px;
    max-width:100px;
}


@media screen and (max-width:800px){
    .content-wrap{
    margin:0;
    }
.extra-box{
    width:99%;
    display:block;
    margin:0;
    border:none;
    margin-top:20px;
    background: white;
    padding:10px;

}
.other{
    background-color:transparent;
    padding:5px;
}
.extra-box .row:nth-of-type(2){
width:100%;
margin:0;
padding:0;


}
.popup .box{
    width:95%;
}
.popup .option{
    width:75%;

}

}